---
layout: default
title: Why Your Big Data Architecture is Flawed
description: " "
---

{% include home_link.html %}
<article style="background-color: #FBFBF7; padding: 20px; border-radius: 8px; color: #333; line-height: 1.6; text-align: justify; text-align-last: left; hyphens: none; word-break: keep-all; overflow-wrap: normal;">
    {% capture article_content %}
        {% include article.md %}
    {% endcapture %}
    {{ article_content | markdownify }}
</article>

<footer class="custom-footer" style="margin-top: 50px; text-align: center;">
  <p><span style="font-weight: 310;">Copyright © 2025 Sebestyén Gergely</span></p>
</footer>

<style>
  footer:not(.custom-footer) {
    display: none;
  }
</style>